// NotoSansKR
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'GmarketSansMedium'; 
  -ms-overflow-style: none; 
  margin: 0px;
  overflow: scroll;
  scroll-behavior: smooth;
  display: flex;
  height: 100vh;
  // 우클릭 설렉 금지
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
  user-select: none;
} 

#root{
  width: 100%;
}

// 스크롤바 수정
::-webkit-scrollbar {
  display: none; 
}

// 헤더
.header{
  -webkit-font-smoothing: subpixel-antialiased;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none;

  height: fit-content;
  margin: auto;
  width: 1152px;
  // 모바일시
  &.Mobile{
    width: auto;
    .gameLogo{
      margin: auto;
    }
    .navi{
      display: none;
    }
  }
  margin-top: 20px;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  // flex-direction: column;
  display: flex;
  background-color: white;
  .gameLogo{
    img{
     width: 213px;
     height: 65px;
     margin: 20px 0;
    }
  }
  .navi{
    height: 65px;
    display: flex;
    a{
      position: relative;
      font-family: 'GmarketSansBold';
      letter-spacing: 0.25em;
      font-size: 16px;
      padding: 19px 15px;
      color: #010101;
      text-decoration: none;
      transition: all 0.2s ease-in-out;

      &::after{
        position: absolute;
        width: 100%;
        right: 0;
        bottom: 0;
        content: "";
        height: 0;
        background: #010101;
        transition: all 0.1s ease-in-out;
      }
      &:hover{
        color: #666666;
        &::after{
          height: 5%;
          background: #666666;
        }
      }
      &.active{
        &::after{
          height: 5%;
          background: #010101;
        }
      }
    }
  }
}

//footer 
.footer{
  margin: auto;
  bottom: 0;
  width: 1152px;
  &.Mobile{
    width: auto;
  }
  // margin-bottom: 30px;
  margin-top: 30px;
  color: #010101;
  border-top: 2px solid;
  display: flex;
  // flex-direction: column;

  .kaywonLogoWrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
    padding-bottom: 40px;
    .kaywonLogo{
      width: 147px;
      height: 45px;
      margin-left: 60px;
    }
    .footerDetail{
      font-family: 'GmarketSansLight';
      font-size: 14px;
      margin-right: 60px;
    }
  }
}

// 슬라이드
.slider-wrap,.banner-list{
  width: 100%;
  overflow: hidden;
  height: 330px;
  
  .game{
    outline: none;
    display: flex;
    width: 750px;
    height: 330px;
    overflow: hidden;
    justify-content: center;
    .gameBanner, img{
      margin: 0 auto;
    }
    .gameBanner{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1001;
      width: 750px;
      height: 330px;
      transition: background-color 0.2s ease-in-out;

      .gameLink{
        cursor: pointer;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        color:#fff ;
        // font-size: 12px;
        transform: scale(1);
        opacity: 0;
        transition: transform 0.3s ease-in-out, opacity 0.25s ease-in-out;
      }

      +img{
        transform: scale(1);
        transition: transform 0.25s ease-in-out;
      }

      &:hover{
        background-color: rgba($color: #666666, $alpha: 0.6);

        .gameLink{
          // font-size: 16px;
          opacity: 1;
          transform: scale(1.1);
          font-size: 16px;
        }

        +img{
          transform: scale(1.1);
          z-index: -1;
        }
      }
    }
  }
}

.projectT{
  font-family: 'GmarketSansBold';
  font-size: 28px;
  width: 1152px;
  margin: auto;
}

.banner-list{
  width: 1152px;
  height: unset;
  margin: auto;
  display: flex;
  margin-bottom: 60px;
  flex-direction: column;
  overflow: visible;
  // position: relative;
  
  .banner-row{
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin-bottom: 22px;
    .game{
      width: 369.84px;
      height: 162.29px;
      .gameBanner{
        width: 369.84px;
        height: 162.29px;

        .gameLink{
          display: flex;
          // font-weight: 500;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;

          .game-TT{
            font-family: 'GmarketSansBold';
            font-size: 22px;
            margin-bottom: 2px;
          }
          .game-P{
            font-family: 'GmarketSansLight';
            font-size: 6px;
          }
          .game-G{
            font-family: 'GmarketSansLight';
            font-size: 8px;
          }
          .game-T{
            // font-weight: 500;
            font-size: 16px;
            margin-top: 10px;
          }

        }

        +img{
          width: 369.84px;
          height: 162.29px;
          transform: scale(1);
          transition: transform 0.25s ease-in-out;
        }

        &:hover{
          background-color: rgba($color: #474747, $alpha: 0.7);
          +img{
            transform: scale(1.1);
            z-index: -1;
          }
        }
      }
    }
  }
}

.gamePages{
  min-height: 2200px;
  width: 1152px;
  margin:auto;
  display: flex;
  .game_intro{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .game-Logo{
      margin-top: 35px;
      display: flex;
      justify-content: center;
      filter: drop-shadow(0 0 0.75rem #a1a2a5);
      // 나이트 메어
      &.NightMare{
        filter: drop-shadow(0 0 0.25rem #909092);
      }
      &.Savior{
        filter: drop-shadow(0 0 0.2rem #c3c4c7);
      }
      &.StarHeros{
        filter: drop-shadow(0 0 0.25rem #a5a5a5);
      }
      &.Oasis{
        filter: drop-shadow(0 0 0.2rem #6b6b6d);
      }
      &.CoreBallRush{
        margin-top: 0px;
        filter: drop-shadow(0 0 0.2rem #6b6b6d);
      }
      &.PhantomThief{
        // margin-top: 0px;
        filter: drop-shadow(0 0 0.2rem #6b6b6d);
      }
    }
    .detail{
      margin-top: 20px;
      line-height: 1.9;
      margin-bottom: 50px;
      // word-break: keep-all;
      // line-break: unset;
      // letter-spacing: 0.02em;
      font-size: 18px;
      word-spacing: 0.02em;
      width: 60%;
      text-align: center;
      font-family: 'GmarketSansLight';
      h2{
        text-shadow: 0 3px 3px #a5a5a5 ;
        font-family: 'GmarketSansMedium';
        // font-family: 'GmarketSansBold';
        // font-family: 'GmarketSansLight';
        // text-align: center;
        font-weight: normal;
        }
      &.NightMare{
        font-family: 'GmarketSansLight';
        margin-top: 0px;
        width: 85%;
        text-align: center;
      }
      &.WitchSaga{
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 87%;
      }
      &.MinerSaur{
        margin-bottom: 35px;
        width: 70%;
        text-align: center;
        h2{
          font-family: 'GmarketSansBold';
          text-align: center;
        }
      }
      &.ShieldGhost{
        margin-bottom: 40px;
        width: 52%;
        text-align: center;
        h2{
          // font-family: 'GmarketSansBold';
          text-align: center;
        }
      }
      &.Savior{
        margin-bottom: 40px;
        width: 83%;
        text-align: center;
        h2{
          // font-family: 'GmarketSansBold';
          text-align: center;
        }
      }
      &.StarHeros{
        // margin-bottom: 40px;
        width: 70%;
        text-align: center;
        h2{
          // font-family: 'GmarketSansBold';
          text-align: center;
        }
      }
      &.ArtBusters{
        width: 70%;
        h2{
          font-family: 'GmarketSansBold';
        }
      }
      &.Oasis{
        margin-top: 10px;
        width: 90%;
        h2{
          font-family: 'GmarketSansBold';
        }
      }
      &.CoreBallRush{
        margin-top: 10px;
        margin-bottom: 30px;
        width: 95%;
        h2{
          // font-family: 'GmarketSansBold';
        }
      }
      &.FirePlace{
        // margin-top: 10px;
        margin-bottom: 30px;
        width: 90%;
        h2{
          line-height: 2.2;
          font-size: 20px;
          // font-family: 'GmarketSansBold';
        }
      }
      &.PhantomThief{
        word-break: keep-all;
        margin-top: 10px;
        // margin-bottom: 30px;
        // width: 90%;
        h2{
          line-height: 2;
          // font-size: 20px;
          // font-family: 'GmarketSansBold';
        }
      }
    }
  }
  //download button
  .download{
    .starDetail{
      margin-top: 40px;
      width: 65%;
    }
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .copyRight{
    width: 100%;
    margin-bottom: 40px;
    .copyRightDetail{
      h3{
        font-family: 'GmarketSansBold';
        font-size: 16px;
      }
      font-size: 12px;
      width: 100%;
    }
  }
  //게임 이미지들
  div{
    width: 80%;
    .grad-wrapper{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .slick-slider{
        .slick-list{
          width: 747px;
          div{
            width: 747px;
          }
          .grad-img{
            outline: none;
            height: 420px;
            // background-color: aquamarine;
            img{
              margin: auto;
            }

            &.illust{
              img{
              width: 747px;
              height: 420px;
              }
            }
          }
        }
      }
    }
  }
  //유튭
  .youTubeWrap{
    width: 100%;
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    div{
      width: 921px;
      height: 554px;
    }
  }
  // 게임리스트
  .gameList{
    width: 20%;
    display: flex;
    font-family: 'GmarketSansBold';
    flex-direction: column;
    
    .gamePTitle{
      letter-spacing: 0.25em;
      font-size: 18px;
      padding: 10px 0px;
      margin-bottom: 25px;
      display: flex;
      justify-content: flex-start;
      position: relative;
      color: #010101;
      text-decoration: none;

      &::after{
        position: absolute;
        content: "";
        left: 0;
        bottom: 15px;
        width: 85%;
        height: 3.25px;
        background-color: #010101;
      }
      // transition: all 0.2s ease-in-out;
    }

    .gameTap{
      width: 50%;
      height: 36px;
      .gameLink{
        font-family: 'GmarketSansMedium';
        font-weight: 600;
        position: relative;
        letter-spacing: 0.1em;
        font-size: 16px;
        color: #010101;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
        
        .game_underBar{
          position: absolute;
          z-index: -1;
          bottom: -2px;
          right: -5px;
          width: 0%;
          height: 8px;
          background-color: #dbdbdb;
          transition: all 0.2s ease-in-out;
        }

        &.active,&:hover{
          .game_underBar{
            width: 85%;
          }
        }
        &.active{
          color: #010101;;
        }
        &:hover{
          color: #8d8d8d;
        }
      }
    }
  }
  //게임 타이틀 
  .gamePTitle{
    width: 100%;
    height: 52px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 15px;
    // margin: 30px 0;
    .gamPmainT{
      width: max-content;
      font-family: 'GmarketSansBold';
      font-size: 36px;
      margin-right: 10px;
      &.gamePageT{
        margin-right: 4px;
        font-size: 42px;
        text-shadow: 2px 3px 3px #a5a5a5;
      }
    }
    .gamPsubT{
      font-size: 18px;
      display: flex;
      width: max-content;
      align-items: center;
      &.gamePageT{
        margin-top: 20px;
        font-size: 16px;
        h3{
          font-weight: normal;
          font-size: 22px;
          margin: 0;
          margin-bottom: 0px;
          // margin-right: 10px;
        }
      }
    }
    &.Gamelist{
      //  margin-top: 30px;
    }
  }
  //개발자 리스트
  .developer{
    width: 100%;
    display: flex;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 40px;
    .dev-wraper{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 10px 0px;
      .dev-member{
        text-align: center;
        font-family: 'GmarketSansBold';
      }
      .dev-position{
        text-align: center;
        word-break: keep-all;
        // font-family: 'GmarketSansLight';
      }
    }
  }
}
// 메인 페이지
.MainP{
  width: 1152px;
  margin: auto;
  &.Mobile{
    width: auto;
  }
}
.App{
  &.Mobile{
    .GradBanner,.gamePTitle,.mainDetail,.banner-list{
      display: none;
    }

    .MobileView{
      .MobileIco{
        max-width: 50%;
        height: 30%;
        margin-bottom: 40px;
        img{

        }
      }
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: max-content;
      
    }
  }
  .MobileView{
    display: none;
    justify-content: center;
    align-items: center;
  }
  .gamePTitle{
    margin: auto;
    width: 1152px;
    // height: 52px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    // margin: 30px 0;
    .gamPmainT{
      width: max-content;
      font-family: 'GmarketSansBold';
      font-size: 36px;
      margin-right: 10px;
      &.gamePageT{
        font-size: 42px;
        text-shadow: 2px 3px 3px #a5a5a5;
      }
    }
    .gamPsubT{
      font-size: 18px;
      display: flex;
      width: max-content;
      align-items: center;
    }
    &.Gamelist{
      //  margin-top: 30px;
    }
  }
}

//Info
.Info{
  width: 1152px;
  margin: auto;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-around;
  .Map{
    display: flex;
    flex-direction: column;
    margin: 0 40px;
  }
  // justify-content: space-between;
  // flex-direction: column;
  // align-items: center;
  .Wrap{
    
    margin-top: 15px;
    &.MobileUI{
      // display: flex;
      font-size: 22px;
    }
    .gamePTitle{
      margin-bottom: 20px;
      position: relative;


      &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: -5px;
        background-color: #121212;    
      }
      .gamPmainT{
        font-size: 32px;

      }
    }
    img{
      margin: 20px 0px;
      width: 697px;
      height: 528px;
    }
    .InfoDetail{
      // mar
      width: 100%;
      font-size: 18px;

      h3{
       margin: 10px 0;
       font-size: 22px;

      }
    }
    }
}
//모바일 UI

.Wrap{
    
  // margin-top: 15px;
  &.MobileUI{
    display: flex;
    flex-direction: column;
    font-size: 26px;
    margin: auto;

  }
  .InfoDetail{
    text-align: center;
    margin: auto;
  }
}
.MobileUI{
  &.Title{
    font-size: 50px;
    margin-top: 3vh;
    font-family: 'GmarketSansBold';
    &.gameName{
      font-size: 25px;
      text-decoration: none;
      color: #010101;
      margin-top: 2vh;
      margin-bottom: 1vh;
    }
  }
  width: 80%;
  top: 0px;
}

.Mobileimg{
  max-width: 80%;
  margin: auto;
}
//애니메이션
.fade-in {
	-webkit-animation: fade-in 1.2s ease-in-out both;
	        animation: fade-in 1.2s ease-in-out both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gamePTitle{
  width: 100%;
  height: 52px;
  display: flex;
  margin-top: 30px;
  margin-bottom: 15px;
    &.Main{
      height: unset;
      margin-top: 40px;
    }
  // margin: 30px 0;
  .gamPmainT{
    width: max-content;
    font-family: 'GmarketSansBold';
    font-size: 36px;
    margin-right: 10px;
    &.gamePageT{
      margin-right: 4px;
      font-size: 42px;
      text-shadow: 2px 3px 3px #a5a5a5;
    }

  }
  .gamPsubT{
    font-size: 18px;
    display: flex;
    width: max-content;
    align-items: center;
    &.gamePageT{
      margin-top: 20px;
      font-size: 16px;
      h3{
        font-weight: normal;
        font-size: 22px;
        margin: 0;
        margin-bottom: 0px;
        // margin-right: 10px;
      }
    }
  }
  &.Gamelist{
    //  margin-top: 30px;
  }
}


.downlink{
  cursor: pointer;
  margin-top: 80px;
  margin-bottom: 60px;
  &.StarHeros{
    margin-top: 40px;
  }
  background-color: rgba(#fff, 0);
  display: flex;
  justify-content: center;
  border-radius: 3px;
  align-items: center;
  // text-align: center;
  border-top: 2px solid ;
  border-right: 5px solid;
  border-left: 2px solid;
  border-bottom: 5px solid;
  text-transform: uppercase;
  width: 200px;
  height: 50px;
  color: #121212;
  line-height: 1.4;
  padding: .25em;
  font-size: 24px;
  text-decoration: none;
  font-family: 'GmarketSansBold';
  letter-spacing: 0.05em;
  transition: border 0.1s ease-in-out; //background-color 0.2s ease-in-out;
  
  &:hover {
    // background-color: rgba(#121212, 1);
    border-top: 5px solid ;
    border-right: 2px solid ;
    border-left: 5px solid ;
    border-bottom: 2px solid ;
    // color: #fff;
  }
}

.mainDetail{
  font-size: 16px;
  font-weight: normal;
  // margin-top: 0px;
  margin-bottom: 60px;
  h3{
    font-family: 'GmarketSansBold';
    font-size: 22px;
    margin-bottom: 0;
  }
  h4{
    font-size: 14px;
    margin: 0;
    color: #8d8d8d;
    font-family: 'GmarketSansLight';
  }
  h2{
    b{
      font-size: 21px;
      font-family: 'GmarketSansBold';
    }
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 0;
  }
}
