// NotoSansKR
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
//컬러 변수 추가
$red: #e74c3c;
$yellow: #f1c40f;

body {
  font-family: 'Noto Sans KR', sans-serif; 
  -ms-overflow-style: none; 
  margin: 0px;
  overflow: scroll;
  scroll-behavior: smooth;
  display: flex;
  height: 100vh;
  // 우클릭 설렉 금지
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
  user-select: none;
} 

#root{
  width: 100%;
}

// 스크롤바 수정
::-webkit-scrollbar {
  display: none; 
}

// 헤더
.header{
  height: fit-content;
  margin: auto;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  // flex-direction: column;
  display: flex;
  background-color: white;
  .gameLogo{ 
    img{
     width: 213px;
     height: 65px;
     margin: 20px 0;
    }
  }
  .navi{
    height: 65px;
    display: flex;
    a{
      position: relative;
      font-weight: 500;
      letter-spacing: 0.25em;
      font-size: 16px;
      padding: 19px 15px;
      color: #010101;
      text-decoration: none;
      transition: all 0.2s ease-in-out;

      &::after{
        position: absolute;
        width: 100%;
        right: 0;
        bottom: 0;
        content: "";
        height: 0;
        background: #010101;
        transition: all 0.1s ease-in-out;
      }
      &:hover{
        color: #666666;
        &::after{
          height: 5%;
          background: #666666;
        }
      }
      &.active{
        &::after{
          height: 5%;
          background: #010101;
        }
      }
    }
  }
}

//footer 
.footer{
  margin: auto;
  bottom: 0;
  width: 60%;
}

// 슬라이드
.slider-wrap{
  width: 100%;
  overflow: hidden;
  height: 330px;
  
  .game{
    outline: none;
    display: flex;
    width: 750px;
    height: 330px;
    overflow: hidden;
    justify-content: center;
    .gameBanner, img{
      margin: 0 auto;
    }
    .gameBanner{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1001;
      width: 750px;
      height: 330px;
      transition: background-color 0.25s ease-in-out;

      .gameLink{
        cursor: pointer;
        text-decoration: none;
        color:#fff ;
      }

      +img{
        transform: scale(1);
        transition: transform 0.25s ease-in-out;
      }

      &:hover{
        background-color: rgba($color: #666666, $alpha: 0.6);
        +img{
          transform: scale(1.1);
          z-index: -1;
        }
      }
    }
  }
}

.game-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  // 나이트 메어 배경색
  &.nightMare{
    .game-illust01 {
      background-color: black;
    }
    // 소개 글짜색
    .game-intro{
      color: white;
    }
  }
  
  .game-title, .game-char {
    align-items: center;
    justify-items: center;
    pointer-events: none;
  }

  //다운로드 버튼
  .down-btn{
    cursor: pointer;
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid;
    border-radius: 0.6em;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-color: $yellow;
    color: #fff;
    background: {
      image: linear-gradient(45deg,$yellow 50%, transparent 50%);
      position: 100%;
      size: 400%;
    }
    transition: background 300ms ease-in-out;
  
    &:hover,
    &:focus {
      background-position: 0;
      color: #fff;
      outline: 0;
    }
  }

  // 게임 배경
  .game-illust01{
    pointer-events: none;
    top:0px;
    right: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    img{
      opacity: 0.4;
      filter: blur(5px);
      width: 100%;
      height: 100%;
         
    }
  }

}

//애니메이션
.fade-in {
	-webkit-animation: fade-in 1.2s ease-in-out both;
	        animation: fade-in 1.2s ease-in-out both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}