// NotoSansKR
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
//컬러 변수 추가
$red: #e74c3c;
$yellow: #f1c40f;

body {
  font-family: 'Noto Sans KR', sans-serif; 
  -ms-overflow-style: none; 
  margin: 0px;
  overflow: scroll;
  scroll-behavior: smooth;
  display: flex;
  height: 100vh;
  // 우클릭 설렉 금지
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
  user-select: none;
} 

#root{
  width: 100%;
}

// 스크롤바 수정
::-webkit-scrollbar {
  display: none; 
}

// 헤더
.header{
  height: fit-content;
  margin: auto;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  // flex-direction: column;
  display: flex;
  background-color: white;
  .gameLogo{ 
    img{
     width: 213px;
     height: 65px;
     margin: 20px 0;
    }
  }
  .navi{
    height: 65px;
    display: flex;
    a{
      position: relative;
      font-weight: 500;
      letter-spacing: 0.25em;
      font-size: 16px;
      padding: 19px 15px;
      color: #010101;
      text-decoration: none;
      transition: all 0.2s ease-in-out;

      &::after{
        position: absolute;
        width: 100%;
        right: 0;
        bottom: 0;
        content: "";
        height: 0;
        background: #010101;
        transition: all 0.1s ease-in-out;
      }
      &:hover{
        color: #666666;
        &::after{
          height: 5%;
          background: #666666;
        }
      }
      &.active{
        &::after{
          height: 5%;
          background: #010101;
        }
      }
    }
  }
}

//footer 
.footer{
  margin: auto;
  bottom: 0;
  width: 60%;
}

// 슬라이드
.slider-wrap{
  width: 100%;
  overflow: hidden;
  height: 330px;
  
  .game{
    outline: none;
    display: flex;
    width: 750px;
    height: 330px;
    overflow: hidden;
    justify-content: center;
    .gameBanner, img{
      margin: 0 auto;
    }
    .gameBanner{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1001;
      width: 750px;
      height: 330px;
      transition: background-color 0.25s ease-in-out;

      .gameLink{
        cursor: pointer;
        text-decoration: none;
        color:#fff ;
      }

      +img{
        transform: scale(1);
        transition: transform 0.25s ease-in-out;
      }

      &:hover{
        background-color: rgba($color: #666666, $alpha: 0.6);
        +img{
          transform: scale(1.1);
          z-index: -1;
        }
      }
    }
  }
}

.gamePages{
  width: 60%;
  margin:auto;
  display: flex;
  .developer{
    width: 20%;
    .dev-wraper{
      display: flex;
      .dev-member{
        text-align: center;
      }
      .dev-position{
        text-align: center;
      }
    }
  }
  div{
    width: 80%;
    .grad-wrapper{
      width: 100%;
      display: block;
    }
  }

}

//애니메이션
.fade-in {
	-webkit-animation: fade-in 1.2s ease-in-out both;
	        animation: fade-in 1.2s ease-in-out both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}